<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ticketsandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.TicketsAndroid"
            android:usesCleartextTraffic="true">
        <activity
                android:name="EventMasterApp.MessageActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.SetPriceActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.ChoiceActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.OrganizerActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.AdminActivityRoles"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.AdminActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.RegisterActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.LogInActivity"
                android:exported="true"/>
        <activity
                android:name="EventMasterApp.DistributorActivity"
                android:parentActivityName="EventMasterApp.MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".MainActivity" /> -->
        </activity>
        <activity
                android:name="EventMasterApp.MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>